<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <form method="POST">
        <div class="fields">
            <div class="unchangeable" id="unch">
                <div class="nav">
                    <h1 align="center">Неизменяемые Поля</h1>
                </div>
            </div>
            <div class="changeable" id="ch">
                <div class="nav">
                    <h1 align="center">Новые Поля</h1>
                    <button class="dinax" type=submit id="b">+</button>
                </div>
            </div>
            <div id="gifts" class="gifts">
                <div class="nav">
                    <h1 align="center">Призы</h1>
                    <button class="dinax" type=submit id="g">+</button>
                </div>
            </div>
        </div>
        <input type="text" class="inp" id="inp" name="name">
    </form>
<script>
let c_n = {{nc | tojson}};
let u_n = {{nu | tojson}};
let g_n = {{g | tojson}};
let unchList = document.getElementById("unch");
let chList = document.getElementById("ch");
let gifts = document.getElementById("gifts");
let inp = document.getElementById("inp");
let newb = document.getElementById("b");
let newg = document.getElementById("g");
newb.addEventListener("click", () => {
    inp.value = "b";})
newg.addEventListener("click", () => {
    inp.value = "g";})
for (let i = 0; i < u_n.length; i++)
{
    const fieldDiv = document.createElement('div');
    fieldDiv.classList.add('field');
    const fieldName = document.createElement('button');
    fieldName.textContent = u_n[i];
    fieldDiv.appendChild(fieldName);
    fieldDiv.addEventListener("click", () => {
        inp.value = fieldName.textContent + "b";
    });
    unchList.appendChild(fieldDiv);
}

for (let i = 0; i < c_n.length; i++)
{
    const fieldDiv = document.createElement('div');
    fieldDiv.classList.add('field');
    const fieldName = document.createElement('button');
    fieldName.textContent = c_n[i];
    fieldDiv.appendChild(fieldName);
    fieldDiv.addEventListener("click", () => {
        inp.value = fieldName.textContent + "b";
    });
    chList.appendChild(fieldDiv);
}

for (let i = 0; i < g_n.length; i++)
{
    const giftDiv = document.createElement('div');
    giftDiv.classList.add('gift');
    const giftName = document.createElement('button');
    giftName.textContent = g_n[i];
    giftDiv.appendChild(giftName);
    giftDiv.addEventListener("click", () => {
        inp.value = giftName.textContent + "g";
    });
    gifts.appendChild(giftDiv);
}

</script>
</body>
</html>
