<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Регистрация</title>
    <link  type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
    <script src="{{url_for('static', filename='scripts/script.js')}}" defer></script>
</head>
<body>
  <div class="container">
    <div class="window">
      <h1>Добро пожаловать!</h1>
      <form method="POST">

        <label class="near">Логин</p><br>
        <input type="login" name="name"/><br>

        <label class="near">Пароль</p><br>
        <input type="password" name="password"/><br>
    
        <input type="radio" id="user" value="user" name="admin"/>
        <label for="user">Пользователь</label><br>
        <input type="radio" id="admin" value="admin" name="admin"/>
        <label for="admin">Админ</label><br>

        <button id="enter" type="submit">Регистрация</button><br>
        <a id="reg" href="/login">Войти</a>

      </form>
    </div>
  </div>
  
<script>
  let message = {{mes | tojson}}
  if (message == 0)
  {
    alert("Данный логин уже зарегистрирован");
  }
  if (message == 3)
  {
    alert("Выберите тип входа (Пользователь / Админ)");
  }
  if (message == 4)
  {
    alert("Имя должно начинаться с буквы");
  }
</script>
</body>
</html>