<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/reg.css') }}">
</head>
<body>
    <nav></nav>
    <div class="main">
        <div>
            <h2>призы</h2>
            <select name="" id="">
                <option value="">dadada</option>
            </select>
        </div>
        <div class="field">
            <h2>поля</h2>
            <select name="" id=""></select>
        </div>
    </div>
</body>
</html>