<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <nav></nav>
    <div class="main_user">
            <h2>выберите поле для игры</h2>
        <div class="fields_user">
            <select name="" id=""></select>
            <button>выбрать</button>
        </div>
    </div>
</body>
</html>