<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/prizes.css') }}">
    <title>Редактирование Приза</title>
</head>
<body>
<form method="POST">
    <div class="parent">
        <div class="left">
            <input id="name" type="text" class="name" placeholder="name" name="name">
            <input id="date" type="date" class="date" placeholder="date" name="date">
            <button id="accept" class="accept">Сохранить</button>
            <button id="decline" class="decline">Удалить</button>
        </div>
        <div class="right">
            <input id="img" type="text" class="img_src" placeholder="img_src" name="img">
            <input id="descr" type="text" class="description" placeholder="description" name="descr">
        </div>
    </div>
    <input id="del" class="inv" name="del">
</form>
<script>
        
    document.getElementById("name").value = {{n | tojson}};
    document.getElementById("date").value = {{d | tojson}};
    document.getElementById("img").value = {{i | tojson}};
    document.getElementById("descr").value = {{de | tojson}};
    let save = document.getElementById("accept");
    let dele = document.getElementById("decline");
    let del = document.getElementById("del")
    dele.addEventListener("click", ()=>
    {
        del.value="0";
    });
    save.addEventListener("click", ()=>
    {
        del.value="1";
    });
</script>
</body>
</html>

